body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    margin: 0;
}


h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

header p {
    margin-top: 0.3152rem;
    color: #aaa;
    font-size: 1rem;
  }
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    backdrop-filter: blur(0.625rem);
    padding: 1.25rem;
    width: 18.75rem;
    border-radius: 1.25rem;
    text-align: center;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    border: 0.1875rem solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: borderAnimation 3s linear infinite;
    
  }
  @keyframes borderAnimation {
    0% {
      border-color: hsla(240, 100%, 50%, 0.5) hsla(270, 100%, 50%, 1) hsla(300, 100%, 50%, 1) hsla(330, 100%, 50%, 0.9);
    }
    25% {
      border-color: hsla(330, 100%, 50%, 1) hsla(240, 100%, 50%, 0.5) hsla(270, 100%, 50%, 0.7) hsla(300, 100%, 50%, 0.6);
      opacity: 1;
    }
    50% {
      border-color: hsla(300, 100%, 50%, 0.5) hsla(330, 100%, 50%, 0.5) hsla(240, 100%, 50%, 0.6) hsla(270, 100%, 50%, 0.5);
    }
    75% {
      border-color: hsla(270, 100%, 50%, 0.5) hsla(300, 100%, 50%, 0.5) hsla(330, 100%, 50%, 1) hsla(240, 100%, 50%, 0.5);
      opacity: 1;
    }
    100% {
      border-color: hsla(240, 100%, 50%, 0.5) hsla(270, 100%, 50%, 0.5) hsla(300, 100%, 50%, 0.5) hsla(330, 100%, 50%, 0.5);
    }
  }
  

  
  
  
  .box input {
    width: 100%;
    height: 3.125rem;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.21875rem 2.1875rem 0.21875rem 0.3125rem;
    color: #000;
    margin-bottom: 0.625rem;
     box-sizing: border-box;
  }
  
  .box input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  button {
    width: 100%;
    height: 2.5rem;
    background-color: #e6e2e2;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .qr-code {
    opacity: 0;
    display: flex;
    padding: 2.0625rem 0;
    border-radius: 0.3125rem;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    border: 0.0625rem solid #ccc;
  }
  
  .form :where(input, button) {
    width: 100%;
    height: 3.4375rem;
    border: none;
    outline: none;
    border-radius: 0.3125rem;
    transition: 0.1s ease;
  }
  
 
  .form input:focus {
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.13);
  }
  
  .form input::placeholder {
    color: #999;
  }
  
  .box .active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
  }
  
  .form button:hover {
    background: #333;
  }
  
  .form button:active {
    transform: scale(0.95);
  }
  
  .qr-code img {
    width: 10.625rem;
  }
  
  @media (max-width: 26.875rem) {
    .box {
      height: 15.9375rem;
      padding: 1rem 1.25rem;
    }
    .box.active {
      height: 31.875rem;
    }
    header p {
      color: #696969;
    }
    .form :where(input, button) {
      height: 3.25rem;
    }
    .qr-code img {
      width: 10rem;
    }
  }
  
  #download-container button {
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: #e6e2e2;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  #download-container button:hover {
    background: #333;
  }
  
  #download-container button:active {
    transform: scale(0.95);
  }
  
